{% load static %}
<html>
	<head>
        <title>Member Login</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
		<link rel="stylesheet" type="text/css" href="{% static 'css/header_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/global_styles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/form_styles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">
	</head>
	<body>
        <header>
			<a href="./">
				<div id="cd-logo">
					<img src="{% static 'img/ic_logo.svg' %}" alt="Logo" />
					<p>LIBRARY</p>
				</div>
			</a>
		</header>
		<form class="cd-form" method="POST" action="memberhome">
		{% csrf_token %}
			<legend>Member Login</legend>
			
			<div class="error-message" id="error-message">
				<p id="error"></p>
			</div>
			
			<div class="icon">
				<input class="m-user" type="text" name="m_user" placeholder="Username" required />
			</div>
			
			<div class="icon">
				<input class="m-pass" type="password" name="m_pass" placeholder="Password" required />
			</div>
			
			<input type="submit" value="Login" name="m_login" />
			
			<br /><br /><br /><br />
			
			<p align="center">Don't have an account?<a href="/register">Sign up</a>
		</form>
	</body>